/* 헤더 */
.header {
    background-color: #f2e9d8;
    padding: clamp(2rem, calc((100vw - 1280px) / 2), 32rem);
    padding-top: 3rem;
    position: sticky;
    top: 0;
    z-index: 100;
}
/* 헤더 메뉴 */
.header-nav {
    display: flex;
    justify-content: space-between;
}
/* 헤더 로고 */
.header-logo {
    width: 9.2rem;
    height: auto;
}
/* 모바일 헤더 메뉴 버튼 */
.header-nav-btn {
    width: 3.2rem;
    height: auto;
    background: none;
}
/* 모바일 환경 숨김 처리 */
.desktop-nav {
    display: none;
}

@media screen and (min-width: 788px) {
    .header {
        height: 10.2rem;
        padding-bottom: 3.2rem;
    }
    /* 헤더 로고 */
    .header-logo {
        width: 13rem;
        height: 4rem;
    }
    /* 모바일 메뉴 숨김처리 */
    .header-nav-btn {
        display: none;
    }
    /* 데스크톱 메뉴 플렉스 */
    .desktop-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .desktop-nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    /* 데스크톱 메뉴 버튼 */
    .desktop-nav-btn {
        width: 14rem;
        height: 5rem;
    }
}
