/* 헤더 */
.header {
    background-color: #f2e9d8;
    overflow: hidden;
    height: 80.2rem;
    padding: clamp(2rem, calc((100vw - 1280px) / 2), 32rem);
    padding-top: 3rem;
}
/* 헤더 메뉴 */
.header-nav {
    display: flex;
    justify-content: space-between;
}
/* 헤더 로고 */
.header-logo {
    width: 9.2rem;
    height: auto;
}
/* 모바일 헤더 메뉴 버튼 */
.header-nav-btn {
    width: 3.2rem;
    height: auto;
    background: none;
}
/* 모바일 환경 숨김 처리 */
.desktop-nav {
    display: none;
}
/* 헤더 메뉴 */
.header-title-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}
.header-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
/* 헤더 타이틀 */
.header-title {
    min-width: 26.4rem;
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
}
/* 모바일 환경 숨김 처리 */
.header-description {
    min-width: 28rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}
/* 헤더 다운로드 버튼 */
.header-download-btn {
    width: 11.9rem;
    height: 4rem;
}
/* 박스캣 이미지 */
.box-cat img {
    width: 19.7rem;
    aspect-ratio: 197 / 422;
    transform: translateY(5%);
}

@media screen and (min-width: 788px) {
    .header {
        height: 90.2rem;
    }
    /* 헤더 로고 */
    .header-logo {
        width: 13rem;
        height: 4rem;
    }
    /* 모바일 메뉴 숨김처리 */
    .header-nav-btn {
        display: none;
    }
    /* 데스크톱 메뉴 플렉스 */
    .desktop-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .desktop-nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    /* 데스크톱 메뉴 버튼 */
    .desktop-nav-btn {
        width: 14rem;
        height: 5rem;
    }
    
    /* 헤더 타이틀 */
    .header-title-container {
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
}
    
    .header-text-content {
        align-items: flex-start;
        gap: 4rem;
    }

    /* 헤더 타이틀 */
    .header-title {
        max-width: 73.7rem;
        text-align: left;
        line-height: 6rem;
    }
    /* 헤더 텍스트 */
    .header-description {
        max-width: 43.8rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-align: left;
    }
    /* 헤더 다운로드 */
    .header-download-btn {
        width: 14rem;
        height: 5rem;
    }
    /* 박스캣*/
    .box-cat img {
        width: 41.5rem;
        aspect-ratio: 415 / 766;
        transform: translateY(21%);
    }
}