/* 모바일 퍼스트 */

.main {
    display: flex;
    flex-direction: column;
}
/* 메인 */

/* 메인 타이틀 콘테이너 */
.main-title-container {
    background-color: #f2e9d8;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(2rem, calc((100vw - 1280px) / 2), 32rem);
}
.main-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
/* 메인 타이틀 */
.main-title {
    min-width: 26.4rem;
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
}
/* 메인 설명 */
.main-description {
    min-width: 28rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}
/* 메인 다운로드 버튼 */
.main-download-btn {
    width: 11.9rem;
    height: 4rem;
}
/* 박스캣 이미지 */
.box-cat img {
    width: 19.7rem;
    aspect-ratio: 197 / 422;
    transform: translateY(15%);
}

/* 메인 인트로 */
.main-intro-container {
    margin-top: 4rem;
    align-self: center;
    padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
}
.intro-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
}

/* 인트로 이미지 */
.cat-on-bed {
    width: 32.6rem;
    height: 19rem;
    object-fit: cover;
    border-radius: 1.8rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}
/* 인트로 텍스트 박스 */
.intro-text-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* 인트로 타이틀 */
.intro-title {
    font-size: var(--mideum-font-size);
    font-weight: 700;
    line-height: 3rem;
}

/* 인트로 설명 */
.intro-description {
    font-size: var(--regular-font-size);
    font-weight: 400;
    line-height: 1.8rem;
}
/* //메인 인트로 콘텐츠 */

/* 메인 이미지 섹션 */
.main-images-container {
    max-width: 100%;
    align-self: center;
    margin-top: 6rem;
}
/* 이미지 텍스트 콘텐츠 */
.images-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
}

/* 이미지 텍스트 타이틀 */
.images-title {
    color: #d97652;
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 3rem;
}

/* 이미지 설명 */
.images-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

/* 이미지 설명-스판태그 강조 */
.images-description .strong {
    color: #d97652;
    font-weight: 700;
}

/* //이미지 텍스트 콘텐츠 */

/* 메인 이미지 콘텐츠 */
.images-content {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 4rem;
    padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
}

.img-list {
    display: flex;
    gap: 2rem;
}
.img-list li img {
    width: 26rem;
    height: 26rem;
    border-radius: 1.8rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
/* //메인 이미지 콘텐츠 */

/* 이미지 더보기 콘텐츠 */
.images-lern-more-content {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
}

/* 이미지 더보기 텍스트 */
.lern-more-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

/* 이미지 더보기 버튼 */
.lern-more-btn {
    padding: 0;
    width: 12.6rem;
    height: 4rem;
    font-size: var(--regular-font-size);
    background-color: #d97652;
    color: #fff;
    border: none;
    border-radius: 4rem;
    align-self: flex-end;
}
/* //이미지 더보기 콘텐츠 */

/* //메인 이미지 섹션 */

/* 블로그 포스트 입력 폼 섹션 */
.subscribe-container {
    height: 52rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
    z-index: 0;
    padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
}
/* 고양이 호두 얼굴 이미지 */
.subscribe-container::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 24rem;
    background: url(../../../HODU-Landing-Pages/img/img_5.jpg) no-repeat center 30% / cover;
    z-index: -1;
    opacity: 0.6;
}

/* 블로그 포스트 입력 폼 콘텐츠 */
.subscribe-content {
    display: flex;
    flex-direction: column;
    width: 32.6rem;
    height: 34.8rem;
    background-color: #263140;
    border: none;
    border-radius: 1.8rem;
    max-width: 100%;
    padding: 3.6rem 3.2rem;
    gap: 1rem;
}

/* 블로그 포스트 텍스트 콘텐츠 */
.subscribe-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
/* 블로그 포스트 텍스트 타이틀 */
.subscribe-title {
    font-size: var(--mideum-font-size);
    font-weight: 700;
    line-height: 3rem;
    color: #fff;
}

/* 블로그 포스트 텍스트 설명 */
.subscribe-description {
    color: #f2e9d8;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* //블로그 포스트 텍스트 콘텐츠 */

/* 블로그 포스트 입력 폼 */
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* 포스트 입력 인풋 창 */
.email-input {
    width: 26.2rem;
    height: 4rem;
    border: none;
    border-radius: 6rem;
    background-image: url(../../../HODU-Landing-Pages/img/mail.svg);
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: 1.6rem center;
    padding-left: 4.8rem;
    color: #767676;
    font-size: 1.2rem;
}

/* 포스트 입력 버튼 */
.subscribe-btn {
    width: 11.7rem;
    height: 4rem;
    background-color: #d97652;
    border: none;
    border-radius: 4rem;
    color: #fff;
    align-self: flex-end;
    font-size: var(--regular-font-size);
}
/* //블로그 입력 폼 */

/* //메인 */

/* 데스크톱 */
/* 메인 */

/* 메인 타이틀 콘테이너 */
@media screen and (min-width: 788px) {
    .main-title-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 3rem;
        gap: 12.8rem;
}
    
    .main-text-content {
        align-items: flex-start;
        gap: 4rem;
    }

    /* 메인 타이틀 */
    .main-title {
        max-width: 73.7rem;
        text-align: left;
        line-height: 6rem;
    }
    /* 메인 텍스트 */
    .main-description {
        max-width: 43.8rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-align: left;
    }
    /* 메인 다운로드 */
    .main-download-btn {
        width: 14rem;
        height: 5rem;
    }
    /* 박스캣*/
    .box-cat img {
        width: 41.5rem;
        aspect-ratio: 415 / 766;
        transform: translateY(16%);
    }
}
/* 메인 인트로 */
@media screen and (min-width:788px) {
    .main-intro-container {
        margin-top: 8rem;
    }
    .intro-content {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 11rem;
    }
    .cat-on-bed {
        max-width: 66rem;
        width: 100%;
        height: 39rem;
        border-radius: 3rem;
    }
    .intro-text-box {
        gap: 4rem;
    }
    .intro-title {
        line-height: 4.5rem;
    }
    .intro-description {
        line-height: 2rem;
    }
}
/* //메인 인트로 */

/* 메인 이미지 섹션 */

/* 이미지 텍스트 */
@media screen and (min-width:788px) {
    .main-images-container {
        margin-top: 12rem;
    }
    .images-text-content {
        gap: 4rem;
    }
    .images-title {
        line-height: 6rem;
    }
    .images-description {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
/* //이미지 텍스트 */

/* 이미지 콘텐츠 */
/* 이미지가 모바일 기준에서 데스크톱으로 넘어갈때 잘림현상 많이 일어남 */
/* 해결방법: 메인 콘테이너에 마진을 주고 다시 콘텐츠에 마진을 줘서 이미지가 잘리는 거였음 */
/* 이미지 잘렸을때는 부모 요소랑 마진 패딩 값 중복 되었는지 확인하자. */

@media screen and (min-width:788px) {
    .images-content {
        margin-top: 8.8rem;
        padding-inline: clamp(3.2rem, calc((100vw - 1280px) / 2), 32rem);
    }
    .img-list { 
        gap: 7.2rem;
    }
    .img-list li img {
        width: 37.8rem;
        height: 37.8rem;
        border-radius: 3rem;
        flex-shrink: 0;
    }
}
/* //메인 이미지 콘텐츠 */

/* 이미지 더보기 콘텐츠 */
@media screen and (min-width:788px) {
    .images-lern-more-content {
        margin-top: 9rem;
        justify-content: center;
        flex-direction: row;
        gap: 5.4rem;
    }
    .lern-more-btn {
        width: 14.7rem;
        height: 5rem;
        line-height: 2rem;
    }
}
/* //이미지 더보기 콘텐츠 */

/* //메인 이미지 섹션 */

/* 블로그 포스트 입력 폼 섹션 */
@media screen and (min-width:788px) {
    .subscribe-container {
        margin-top: 9rem;
        height: 60rem;
    }
    /* 고양이 호두 얼굴 이미지 */
    .subscribe-container::before {
        width: 100%;
        height: 34rem;
        background-position: 50% 42%;
    }
    /* 블로그 포스트 입력 폼 콘텐츠 */
    .subscribe-content {
        max-width: 128rem;
        width: 100%;
        flex-direction: row;
        border-radius: 3rem;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 5.8rem;
        flex-wrap: wrap;
    }
    /* 블로그 포스트 텍스트 콘텐츠 */
    .subscribe-text-content {
        min-width: 26rem;
        max-width: 49rem;
        width: 100%;
        align-items: flex-start;
        gap: 1.8rem;
    }
    /* //블로그 포스트 텍스트 콘텐츠 */

    /* 포스트 입력 폼 */

    /* 입력폼 버튼 위치 다시잡기 */
    /* 뷰포트의 크기에 따라 입력폼 안에서 왔다갔다함 */
    /* 다 키웠을떈 원하는 위치 */
    /* 해결방법: */
    /*  버튼을 입력 폼 안에 넣는 방법이 있나? */
    /* 부모 요소를 인풋으로 할수 있는 방법은 없지.. */
    /* 인풋폼에 포지션 릴레이티브 버튼에 앱솔루트 포지션 줘서 위치 고정 및 설정 */
    .subscribe-form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .email-input {
        width: 53rem;
        height: 6rem;
        background-size: 2.4rem 2.4rem;
    }
    .subscribe-btn {
        position: absolute;
        width: 13.6rem;
        height: 5rem;
        right: 5px;
        top: 5px;
    }
}
/* 버튼 위치를 어떻게 잡아야 할지..? */

/* //블로그 포스트 입력 폼 콘텐츠 */

/* //메인 */