/* 모바일 퍼스트 */

/* 최상단으로 가기 버튼 */
.scrool-to-top {
    display: block;
    position: fixed;
    width: 4rem;
    height: 4rem;
    color: #c4c4c4;
    background-color: #fff; 
    border-radius: 50%;
    opacity: 0.8;
    bottom: 10%;
    right: 1%;
    bottom: 10rem;
    z-index: 100;
    object-fit: cover;
    background-image: url(/HODU-Landing-Pages/img/top-btn.svg);
    background-position: 50% 50%;
}
.scrool-to-top:hover {
    cursor: pointer;
    background-image: url(/HODU-Landing-Pages/img/keyboard_arrow_up.svg);
}
/* //최상단으로 가기 버튼 */


/* 모달 */

/* 헤더 메뉴 모달 - 모바일만 사용 */
.header-nav-menu-modal {
    display: none;
    width: 39rem;
    height: 84.4rem;
    background-color: #fff;
    border: none;
}
.nav-modal {
    width: 28.9rem;
    height: 82rem;
    background-color: #263140;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}
/* 화살표 버튼 */
.arrow-right {
    width: 3.2rem;
    height: 3.2rem;
    margin: 2.2rem 0 0 2rem;
}
/* 메뉴 리스트 */
.nav-list {
    width: 6.5rem;
    height: 12rem;
    margin: 6.6rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.nav-list li {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
}
/* 다운로드 버튼 */
.modal-download-btn {
    margin: 5rem 0 0 4rem;
    width: 11.9rem;
    height: 4rem;
    border: none;
    border-radius: 4rem;
    background-color: #d97652;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}
/* //헤더 메뉴 모달 */

/* 블로그 입력 폼 모달 */
.blog-subscribe-modal {
    width: 30rem;
    height: 30rem;
    display: none;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 3rem;
    background-color: #f2e9d8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../../../HODU-Landing-Pages/img/modal-bg-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
.subscribe-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem; 
}
/* 호두 얼굴 이미지 */
.subscribe-modal img {
    margin-top: 4rem;
    width: 6rem;
    height: 6.2rem;
}
/* 모달 텍스트 */
.subscribe-modal-text {
    width: 19.9rem;
    height: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* 모달 텍스트 타이틀 */
.subscribe-modal-title {
    color: #d97652;
    font-size: var(--mideum-font-size);
    font-weight: 700;
    line-height: 3rem;
}
/* 모달 텍스트 설명 */
.subscribe-modal-description {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* 아이러브 호두 버튼 */
.subscribe-modal-btn {
    align-self: center;
    width: 16.3rem;
    height: 4rem;
    background-color: #d97652;
    color: #fff;
    border: none;
    border-radius: 4rem;
    font-size: var(--regular-font-size);
    font-weight: 700;
    line-height: 1.8rem;
}
/* //블로그 입력 폼 모달 */

/* 최상단으로가기 버튼 */
@media screen and (min-width:788px){
    .scrool-to-top {
        display: block;
    }
}

/* 헤더 메뉴 로고 - dexktop 숨김 처리 */
@media screen and (min-width:788px){
.header-nav-menu-modal {
    display: none;
    }
}

/* 블로그 입력 폼 모달 */
@media screen and (min-width:788px) {
    .blog-subscribe-modal {
        width: 60rem;
        height: 40rem;
    }
    /* 호두 사진 */
    .subscribe-modal img {
        margin-top: 6rem;
        width: 11rem;
        height: 11.2rem;
    }
    /* 모달 텍스트 */
    .subscribe-modal-text {
        width: 38.2rem;
        height: 7.6rem;
        gap: 1.2rem;
    }
    .subscribe-modal-title {
        font-size: 3.6rem;
        line-height: 4.5rem;
    }
    /* 아이러브 호두 버튼*/
    .subscribe-modal-btn {
        width: 18.9rem;
        height: 5rem;
        line-height: 2rem;
    }
}