/* 기본 스타일 */
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    max-width: 192rem;
}
body {
    font-family: var(--primary-font);
    margin: 0 auto;
    position: relative;
}

/* 스크린리더 전용 */
.sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
}

/* 모바일 퍼스트 */

/* 헤더 */
header {
    background-color: #f2e9d8;
    position: relative;
    overflow: hidden;
}

/* 헤더 메뉴 */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 2rem;
}

.header-logo {
    width: 9.2rem;
    height: 2.8rem;
}
/* 모바일 메뉴 버튼 */
.header-nav-btn {
    background: none;
    border: none;
    width: 3.2rem;
    height: 3.2rem;
}


/* 데스크톱 메뉴 버튼 */
.desktop-nav {
    display: none;
    gap: 4rem;
}
.desktop-nav-list {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.desktop-nav-btn {
    width: 14rem;
    height: 5rem;
    border: none;
    border-radius: 4rem; 
    background-color: #d97652;
    color: #fff;
}
.desktop-nav-btn {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: ;
}
/* //헤더 메뉴 */

/* 헤더 타이틀 콘텐츠 */
.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.header-title-content {
    display: flex;
    flex-direction: column; 
    gap: 16rem;
    align-items: center;
    padding: 0 6.2rem;
}
/* 헤더 타이틀 */
.header-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.5rem;
}
/* 헤더 텍스트 모바일버전에서는 숨김 처리 */
.header-description {
    display: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}
/* 헤더 다운로드 버튼 */
.header-download-btn {
    background-color: #d97652;
    border-radius: 4rem;
    border: none;
    width: 11.9rem;
    height: 4rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
}

/* 헤더 박스캣 이미지 */
.box-cat {
    margin-top: 3rem;
    width: 19.7rem;
    height: 42.2rem;
    display: grid;
    align-items: end;
    overflow: hidden;
}
.box-cat img {
    width: 100%;
    height: auto;
    transform: translateY(15%);
}
/* //헤더 */

/* 메인 */

/* 메인 인트로 */
.intro-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
}

/* 인트로 이미지 */
.cat-on-bed {
    width: 32.6rem;
    height: 19rem;
    margin: 4rem 3.2rem 0;
    object-fit: cover;
    border-radius: 1.8rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}
/* 인트로 텍스트 박스 */
.intro-text-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3.2rem;
}

/* 인트로 타이틀 */
.intro-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
}

/* 인트로 설명 */
.intro-description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* //메인 인트로 콘텐츠 */

/* 메인 이미지 섹션 */
.main-images-container {
    margin-top: 6rem;
}
/* 이미지 텍스트 콘텐츠 */
.images-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 3.2rem;
    text-align: center;
}

/* 이미지 텍스트 타이틀 */
.images-title {
    color: #d97652;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
}

/* 이미지 설명 */
.images-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

/* 이미지 설명-스판태그 강조 */
.images-description .strong {
    color: #d97652;
    font-weight: 700;
}

/* //이미지 텍스트 콘텐츠 */

/* 메인 이미지 콘텐츠 */
.images-content {
    margin-top: 4rem;
    overflow-x: auto;
    white-space: nowrap;
}

.img-list {
    display: flex;
    gap: 2rem;
    padding: 0 3.2rem;
}
.img-list li img {
    width: 26rem;
    height: 26rem;
    border-radius: 1.8rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
/* //메인 이미지 콘텐츠 */

/* 이미지 더보기 콘텐츠 */
.images-lern-more-content {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 3.2rem;
    position: relative;
}

/* 이미지 더보기 텍스트 */
.lern-more-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

/* 이미지 더보기 버튼 */
.lern-more-btn {
    width: 12.6rem;
    height: 4rem;
    background-color: #d97652;
    color: #fff;
    border: none;
    border-radius: 4rem;
    align-self: flex-end;
}
/* //이미지 더보기 콘텐츠 */

/* //메인 이미지 섹션 */

/* 블로그 포스트 입력 폼 섹션 */
.subscribe-container {
    display: flex;
    justify-content: center;
    position: relative;
}
/* 고양이 호두 얼굴 이미지 */
.back-img-hodu {
    position: absolute;
    width: 100%;
    height: 24rem;
    background-color: #f2e9d8;
    opacity: 0.6;
    z-index: -100;
    top: 80%;
    left: 0;
    background-image: url(/img/img_5.jpg);
    background-size: cover;
    background-position: 25% 25%;
    background-repeat: no-repeat;
}

/* 블로그 포스트 입력 폼 콘텐츠 */
.subscribe-content {
    width: 32.6rem;
    height: 34.8rem;
    background-color: #263140;
    border: none;
    border-radius: 1.8rem;
    margin: 5rem 3.2rem 0;
}

/* 블로그 포스트 텍스트 콘텐츠 */
.subscribe-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
/* 블로그 포스트 텍스트 타이틀 */
.subscribe-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 3.6rem 10rem 0 3.2rem;
    color: #fff;
}

/* 블로그 포스트 텍스트 설명 */
.subscribe-description {
    color: #f2e9d8;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 0 3.2rem;
}
/* //블로그 포스트 텍스트 콘텐츠 */

/* 블로그 포스트 입력 폼 */
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.2rem;
    gap: 2rem;
}

/* 포스트 입력 인풋 창 */
.email-input {
    width: 26.2rem;
    height: 4rem;
    border: none;
    border-radius: 6rem;
    background-image: url(/img/mail.svg);
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: 1.6rem center;
    padding-left: 4.8rem;
    color: #767676;
}

/* 포스트 입력 버튼 */
.subscribe-btn {
    width: 11.7rem;
    height: 4rem;
    background-color: #d97652;
    border: none;
    border-radius: 4rem;
    color: #fff;
    align-self: flex-end;
}
/* //블로그 입력 폼 */

/* //메인 */


/* 푸터 */

.footer-link-container {
    margin-top: 17.2rem;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
}

/* 링크 콘텐츠 */
.link-content {
    display: flex;
    flex-direction: column;
    gap: 5.8rem;
    padding: 3rem 0;
    margin-left: 2rem;
}

/* 호두 홈페이지 로고 */
.link-hodu {
    width: 11.2rem;
    height: 3.4rem;
}
/* 호두 외부 링크 */
.external-link {
    display: flex;
    gap: 1.6rem;
    align-self: flex-end;
}
.blog img, .insta img,
.facebook img, .youtube img {
    width: 1.829rem;
    height: 1.829rem;
}
.blog, .insta, .facebook, .youtube {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: #f29d52;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 호두 홈페이지 네비- 모바일에서만 존재 */
.page-nav {
    margin-right: 2rem;
    padding: 3rem 0;
}

.page-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.page-nav-list li {
    color: #767676;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* //푸터 */


/* 최상단으로 가기 버튼 */
.scrool-to-top {
    position: fixed;
    width: 5em;
    height: 5rem;
    color: #c4c4c4;
    background-color: #fff; 
    border-radius: 50%;
    opacity: 0.8;
    bottom: 10%;
    right: 1%;
    bottom: 10rem;
    z-index: 100;
    object-fit: cover;
    background-image: url(/img/top-btn.svg);
    background-position: 50% 50%;
}
.scrool-to-top:hover {
    cursor: pointer;
    background-image: url(/img/keyboard_arrow_up.svg);
}
/* //최상단으로 가기 버튼 */


/* 모달 */

/* 헤더 메뉴 모달 - 모바일만 사용 */
.header-nav-menu-modal {
    display: none;
    width: 28.9rem;
    height: 82rem;
    background-color: #263140;
    border: none;
}
.nav-modal {
    display: flex;
    flex-direction: column;
}
/* 화살표 버튼 */
.arrow-right {
    margin: 2.2rem 0 0 2rem;
    width: 3.2rem;
    height: 3.2rem;
}
/* 메뉴 리스트 */
.nav-list {
    margin: 6.6rem 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.nav-list li {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
}
/* 다운로드 버튼 */
.modal-download-btn {
    margin: 5rem 0 0 4rem;
    width: 11.9rem;
    height: 4rem;
    border: none;
    border-radius: 4rem;
    background-color: #d97652;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}
/* //헤더 메뉴 모달 */

/* 블로그 입력 폼 모달 */
.blog-subscribe-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border: none;
    border-radius: 3rem;
    background-color: #f2e9d8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-image: url(/img/form-modal-back-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
.subscribe-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem; 
}
/* 호두 얼굴 이미지 */
.subscribe-modal img {
    margin: 4rem 12rem 0;
    width: 6rem;
    height: 6.2rem;
}
/* 모달 텍스트 */
.subscribe-modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* 모달 텍스트 타이틀 */
.subscribe-modal-title {
    color: #d97652;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
}
/* 모달 텍스트 설명 */
.subscribe-modal-description {
    padding: 0 4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* 아이러브 호두 버튼 */
.subscribe-modal-btn {
    align-self: center;
    width: 16.3rem;
    height: 4rem;
    background-color: #d97652;
    color: #fff;
    border: none;
    border-radius: 4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}
/* //블로그 입력 폼 모달 */



/* 데스크톱 */

/* 헤더 */

/* 헤더 메뉴 */
@media screen and (min-width:788px) {
    .header-nav {
        justify-content: space-around;
    }
    .header-logo {
        width: 13rem;
        height: 4rem;
    }
    /* 모바일 메뉴 숨김 처리 */
    .header-nav-btn, .header-nav-btn img {
        display: none;
    }
    /* 데스크톱 메뉴 */
    .desktop-nav {
        display: flex;
    }
}
/* //헤더 메뉴 */

/* 헤더 타이틀 콘텐츠 */
@media screen and (min-width:788px) {
    .header-title-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 13rem;
        padding: 0 32rem;
    }
    .header-title-content {
        gap: 4rem;
    }
    .header-title {
        font-size: 4.8rem;
        line-height: 6rem;
        text-align: left;
    }
    .header-description {
        display: block;
        
    }
    .header-download-btn {
        align-self: flex-start;
    }
    .box-cat {
        margin-top: 0;
        width: 41.5rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: visible;
        
    }
    .box-cat img {
        width: 41.5rem;
        height: auto;
        object-fit: contain;
    }
}
/* //헤더 타이틀 콘텐츠 */
/* //헤더 */

/* 메인 */

/* 메인 인트로 */
@media screen and (min-width:788px) {
    .intro-content {
        margin: 8rem 32rem 0;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 11rem;
    }
    .cat-on-bed {
        width: 66rem;
        height: 39rem;
        min-width: 66rem;
        min-height: 39rem;
        border-radius: 3rem;
        margin: 0;
        object-fit: cover;
    }
    .intro-text-box {
        gap: 4rem;
    }
    .intro-title {
        font-size: 3.6rem;
        line-height: 4.5rem;
    }
    .intro-description {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
/* //메인 인트로 */

/* 메인 이미지 섹션 */

/* 이미지 텍스트 */
@media screen and (min-width:788px) {
    .main-images-container {
        margin-top: 12rem;
    }
    .images-text-content {
        gap: 4rem;
    }
    .images-title {
        font-size: 4.8rem;
        line-height: 6rem;
    }
    .images-description {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
/* //이미지 텍스트 */

/* 이미지 콘텐츠 */
/* 이미지가 모바일 기준에서 데스크톱으로 넘어갈때 잘림현상 많이 일어남 */
/* 해결방법: 메인 콘테이너에 마진을 주고 다시 콘텐츠에 마진을 줘서 이미지가 잘리는 거였음 */
/* 이미지 잘렸을때는 부모 요소랑 마진 패딩 값 중복 되었는지 확인하자. */

@media screen and (min-width:788px) {
    .images-content {
        margin-top: 8.8rem;
        overflow-x: hidden;
    }
    .img-list {
        justify-content: center;
        gap: 7.2rem;
    }
    .img-list li img {
        width: 37.8rem;
        height: 37.8rem;
        border-radius: 3rem;
    }
}
/* //메인 이미지 콘텐츠 */

/* 이미지 더보기 콘텐츠 */
@media screen and (min-width:788px) {
    .images-lern-more-content {
        margin-top: 9rem;
        justify-content: center;
        flex-direction: row;
        gap: 5.4rem;
    }
    .lern-more-btn {
        width: 14.7rem;
        height: 5rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
/* //이미지 더보기 콘텐츠 */

/* //메인 이미지 섹션 */

/* 블로그 포스트 입력 폼 섹션 */
@media screen and (min-width:788px) {
    /* 고양이 호두 얼굴 이미지 */
    .back-img-hodu {
        height: 34rem;
        background-position: 40% 40%;
    }
    /* 블로그 포스트 입력 폼 콘텐츠 */
    .subscribe-content {
        width: 128rem;
        height: 20rem;
        display: flex;
        gap: 14.4rem;
        border-radius: 3rem;
        margin-top: 9rem;
    }
    /* 블로그 포스트 텍스트 콘텐츠 */
    .subscribe-text-content {
        align-items: flex-start;
        gap: 1.8rem;
        padding: 5rem 0 5rem 5.8rem;
    }
    .subscribe-title {
        font-size: 3.6rem;
        line-height: 4.5rem;
        padding: 0;
    }
    .subscribe-description {
        padding: 0;
    }
    /* //블로그 포스트 텍스트 콘텐츠 */
    
    /* 포스트 입력 폼 */

    /* 입력폼 버튼 위치 다시잡기 */
    /* 뷰포트의 크기에 따라 입력폼 안과 밖을 왔다갔다함 */
    /* 해결방법: */
    /*  버튼을 입력 폼 밖으로 뺀다? */
    /* 어떻게 해야할까? */
    .subscribe-form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .email-input {
        width: 53rem;
        height: 6rem;
        background-size: 2.4rem 2.4rem;
        background-position: 2.8rem center;
        padding-left: 6.4rem;
        position: relative;
    }
    .subscribe-btn {
        width: 13.6rem;
        height: 5rem;
        align-self: auto;
        position: absolute;
        right: 18.2%;
    }
}
/* //블로그 포스트 입력 폼 콘텐츠 */

/* //메인 */

/* 푸터 */
@media screen and (min-width:788px){
    .footer-link-container {
        margin-top: 24.6rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .link-content {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 82.6rem;
    }
    /* 호두 홈페이지 로고 */
    .link-hodu {
        width: 22.6rem;
        height: 7rem;
    }
    /* 호두 외부 링크 */
    .external-link {
        align-self: auto;
    }
    /* 호두 홈페이지 네비 - 데스크톱 숨김 처리 */
    .page-nav {
        display: none;
    }
}
/* //푸터 */

/* 블로그 입력 폼 모달 */
@media screen and (min-width:788px) {
    .blog-subscribe-modal {
        width: 60rem;
        height: 40rem;
    }
    /* 호두 사진 */
    .subscribe-modal img {
        margin: 6rem 24.5rem 0;
        width: 11rem;
        height: 11.2rem;
    }
    /* 모달 텍스트 */
    .subscribe-modal-text {
        gap: 1.2rem;
    }
    .subscribe-modal-title {
        font-size: 3.6rem;
        font-weight: 4.5rem;
    }
    /* 아이러브 호두 버튼*/
    .subscribe-modal-btn {
        width: 18.9rem;
        height: 5rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}


@import url(/styles/base/variables.css);
@import url(/styles/base/font.css);
@import url(/styles/layout/header.css);
@import url(/styles/layout/main.css);
@import url(/styles/layout/footer.css);
@import url(/styles/layout/modal.css);